body {
  background-image: url("https://images.hdqwalls.com/wallpapers/to-the-sky-qu.jpg");
  background-repeat: no-repeat;
  background-color: skyblue;
  background-size: cover;
}

header {
  background-color: #39576e;
  border-style: solid;
  border-width: 0px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 4px;
}

nav a:link,
nav a:visited {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 14px 25px;
}

nav {
  text-align: center;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  background-color: #39576e;
  border-style: solid;
  border-width: 0px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 4px;
}

h1 {
  color: White;
  text-align: center;
  font-size: 70px;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

main {
  background-color: #39576e;
  border-style: solid;
  border-width: 0px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 4px;
}

img {
  border-radius: 50%;
  max-width: 320px;
  width: 150px;
  height: 150px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.green {
  color: White;
  text-align: left;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  list-style: hangul;
}

.yellow {
  display: flex;
  align-items: center;
}

.red {
  padding: 50px;
}

.cyan {
  padding: 5px;
  color: White;
  text-align: left;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.blue {
  padding: 5px;
  color: White;
  text-align: left;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

main a:link,
main a:visited {
  color: white;
  text-decoration: none;